<div class='row'>
  <div class='col-md-5 signup'>
    <h2>Sign up as Tenant</h2>
    <ul>
      <li>Pay rent online</li>
      <li>Easy communication with landlord</li>
    </ul>
    <%= link_to 'Sign up as Tenant', new_user_registration_path %>
  </div>
  <div class='col-md-2'></div>
  <div class='col-md-5 signup'>
    <h2>Sign up as Landlord</h2>
    <ul>
      <li>Conversation record</li>
      <li></li>
    </ul>
    <%= link_to 'Sign up as Landlord', new_landlord_registration_path %>
  </div>
</div>
